.calendar-container {
  height: 100%;
  width: 100%;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
}

/* Bottoni primari */
.calendar-container .fc .fc-button {
  font-family: var(--font-family-sans);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  box-shadow: var(--box-shadow);
  transition: background-color 0.2s, color 0.2s;
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-slight-bold);
}

.calendar-container .fc .fc-button-primary {
  background-color: var(--button-primary-bg);
  border: var(--border-width) solid var(--button-primary-bg);
  color: var(--button-primary-text);
}

.calendar-container .fc .fc-button-primary:hover {
  background-color: var(--button-primary-hover-bg);
}

.calendar-container .fc .fc-button-primary:active {
  background-color: var(--button-primary-active-bg);
}

.calendar-container .fc .fc-button-primary:disabled {
  background-color: var(--button-primary-disabled-bg);
  color: var(--color-gray-dark);
  cursor: not-allowed;
  box-shadow: none; 
  opacity: 0.9;
}


/* Calendario */
.calendar-container .fc {
  height: 90%;
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Toolbar */
.calendar-container .fc-header-toolbar {
  height: 10%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} 

.calendar-container .fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}

.calendar-container .fc-toolbar-chunk {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-container .fc-toolbar-left {
  /* width: 20%; */
  display: flex;
  justify-content: start;
  align-items: center;
}
.calendar-container .fc-toolbar-center {
  /* width: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-container .fc-toolbar-right {
  /* width: 40%; */
  display: flex;
  justify-content: end;
  align-items: center;
}



/* Titolo */
.calendar-container .fc-toolbar-title {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-primary);
  font-size: 2rem;
  font-weight: var(--font-weight-real-bold);
  text-transform: capitalize;
}

.calendar-container .fc-button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Bottoni Views */


.calendar-container .fc-button.fc-timezone-button::before {
  content: '\1F310'; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-container .fc-button.fc-timezone-button,
.calendar-container .fc-button.fc-prev-button,
.calendar-container .fc-button.fc-next-button {
  background-color: var(--button-secondary-bg);
  border: var(--border-width) solid var(--button-primary-bg);
  color: var(--button-secondary-text);
}

.calendar-container .fc-button.fc-timezone-button:hover,
.calendar-container .fc-button.fc-prev-button:hover,
.calendar-container .fc-button.fc-next-button:hover {
  background-color: var(--button-secondary-hover-bg);
  color: var(--button-primary-text);
}

.calendar-container .fc-button.fc-timezone-button:active,
.calendar-container .fc-button.fc-prev-button:active,
.calendar-container .fc-button.fc-next-button:active {
  background-color: var(--button-secondary-active-bg);
}

.calendar-container .fc-button.fc-timezone-button:disabled,
.calendar-container .fc-button.fc-prev-button:disabled,
.calendar-container .fc-button.fc-next-button:disabled {
  background-color: var(--button-secondary-disabled-bg);
  color: var(--button-secondary-disabled-text);
  cursor: not-allowed;
  box-shadow: none;
}

.calendar-container .fc-button.fc-addEvent-button::before {
  content: '\2795';
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-container .fc-button.fc-today-button {
  line-height: var(--line-height-base);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Body */
.calendar-container .fc-view-harness {
  height: 90%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-container .fc-view {
  height: 100%;
  width: 100%;
}


/* Time cells */
.calendar-container .fc-timegrid-slot-label-frame,
.calendar-container .fc-timegrid-axis-cushion {
  text-align: center;
}

@media (max-width: 1100px) {  
  .calendar-container .fc-header-toolbar {
    height: 15%;
  }
  .calendar-container .fc-view-harness {
    height: 85%;
  }

  .calendar-container .fc-toolbar-left {
    width: 25%;
  }
  .calendar-container .fc-toolbar-center {
    width: 35%;
  }
  .calendar-container .fc-toolbar-right {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .calendar-container .fc-toolbar-center .fc-button-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .calendar-container .fc-toolbar-center .fc-button-group .fc-button {
    border-radius: var(--border-radius);
    width: 40%;
    text-align: center;
    font-size: 1rem;
    margin: 0.4%;
  }

  .calendar-container .fc-toolbar-right .fc-button-group {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5%;
  }

  .calendar-container .fc-toolbar-right .fc-button-group .fc-button {
    width: 45%;
  }
  .calendar-container .fc-toolbar-right .fc-button-group .fc-prev-button, 
  .calendar-container .fc-toolbar-right .fc-button-group .fc-next-button {
    width: 20%;
  }

  .calendar-container .fc-toolbar-right .fc-button {
    margin: 0;
    width: 50%;
  }

  .calendar-container .fc-toolbar-title {
    text-align: center;
  }
}

@media (max-width:1100px) and (min-width:766px) {
  .calendar-container .fc-toolbar-left .fc-button-group {
    width: 50%;

  }

  .calendar-container .fc-toolbar-left .fc-button-group .fc-button {
    width: 25%;
  }
}

@media (max-width:765px) and (min-width:480px) {
  .calendar-container .fc-toolbar-title { 
    font-size: 1.2rem;
  }
  .calendar-container .fc-timegrid-slot-label-frame,
  .calendar-container .fc-timegrid-axis-cushion {
    font-size: 1rem;
  }
  .calendar-container .fc-col-header-cell-cushion {
    font-size: 0.9rem;
  }
}


@media (max-width:479px){
  .calendar-container .fc-toolbar-title { 
    font-size: 0.9rem;
  }
  .calendar-container .fc-timegrid-slot-label-frame,
  .calendar-container .fc-timegrid-axis-cushion {
    font-size: 0.8rem;
  }
  .calendar-container .fc-col-header-cell-cushion {
    font-size: 0.7rem;
  }
}
