:root {
  --fc-small-font-size: 0.8em;
  --fc-page-bg-color: #f9f9f9;
  --fc-border-color: #ddd;

  --fc-button-text-color: #fff;
  --fc-button-bg-color: #001789;
  --fc-button-border-color: #001789;
  --fc-button-hover-bg-color: #001789;
  --fc-button-hover-border-color: #001789;
  --fc-button-active-bg-color: #001789;
  --fc-button-active-border-color: #001789;

  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 23, 137, 0.25);

  --fc-more-link-bg-color: #f0f0f0;
  --fc-more-link-text-color: #007bff;

  --fc-daygrid-event-dot-width: 0px;
  --fc-list-event-dot-width: 0px;
}

/* CALENDAR */
.calendar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background: linear-gradient(to bottom, #f5f6fd, #e8efff);
  font-family: "Poppins", sans-serif;
  color: #001789;
  height: 97vh;
}

.calendar .fc {
  flex-grow: 1;
  width: 100%;
}

/* Toolbar-Specific Styles */
.calendar .fc-header-toolbar .fc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; /* Allow wrapping on small screens */
  gap: 10px; /* Spacing between elements */
  padding: 10px;
}

.calendar .fc-toolbar-chunk {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar .fc-toolbar-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #001789;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  letter-spacing: 1px;
}

/* Left section */
.calendar .fc-toolbar-left {
  display: flex;
  gap: 10px; /* Add spacing between buttons */
  flex-wrap: wrap; /* Wrap buttons if needed */
}

/* Right section */
.calendar .fc-toolbar-right {
  display: flex;
  gap: 10px; /* Spacing between buttons */
  flex-wrap: wrap; /* Wrap buttons if needed */
  justify-content: flex-end; /* Align to the right */
}

/* Buttons */
.calendar .fc-button {
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 6px; 
  border: 1.8px solid #001789;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  align-items: center;
  justify-content: center;
  padding: 0.6em 1.4em;
  height: auto;
  min-height: 3em;
  box-sizing: border-box;
  display: inline-flex;
}

.calendar .fc-button:hover, 
.calendar .fc-button:active {
  transform: scale(1.1);
}

.calendar .fc-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 23, 137, 0.5);
}

.calendar .fc-button:disabled {
  cursor: not-allowed;
  background-color: #ffffff;
  color: #001789;
}

.calendar .fc-calendarTimeZone-button,
.calendar .fc-dayGridMonth-button,
.calendar .fc-timeGridWeek-button,
.calendar .fc-timeGridDay-button,
.calendar .fc-eventList-button,
.calendar .fc-taskList-button {
  background-color: #ffffff;
  color: #001789;
}

.calendar .fc-calendarTimeZone-button:hover,
.calendar .fc-dayGridMonth-button:hover,
.calendar .fc-timeGridWeek-button:hover,
.calendar .fc-timeGridDay-button:hover,
.calendar .fc-eventList-button:hover,
.calendar .fc-taskList-button:hover {
  background-color: #001789;
  color: #ffffff  ;
  transform: scale(1.1);
}

.calendar .fc-prev-button {
  background-color: #ffffff;
  color: #001789;
  border-radius: 6px;
  border-right: 0px;
  padding-right: 0px;
}

.calendar .fc-next-button {
  background-color: #ffffff;
  color: #001789;
  border-radius: 6px;
  border-left: 0px;
  padding-left: 0px;
}

.calendar .fc-prev-button:hover,
.calendar .fc-next-button:hover {
  background-color: #001789;
  color: #ffffff;
  transform: scale(1.1);
}

.calendar .fc-prev-button:active,
.calendar .fc-next-button:active {
  background-color: #003366;
  transform: scale(1.1);
}

.calendar .fc-prev-button:focus,
.calendar .fc-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 23, 137, 0.5);
}

.calendar .fc-today-button {
  background-color: #ffffff;
  color: #001789;
  border-right: 0px;
  border-left: 0px;
}

.calendar .fc-today-button:hover {
  background-color: #001789;
  color: white;
  border: 1px solid #001789;
  transform: scale(1.1);
}

.calendar .fc-addEvent-button::before {
  content: '\2795'; /* Plus Icon */
}

.calendar .fc-calendarTimeZone-button::before {
  content: '\1F310'; /* Globe Icon */
}


/* EVENTS */
.fc-event {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid #4d4d4d;
  color: white;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.fc-event:hover {
  cursor: pointer;
  transform: scale(1.04);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.fc-event.event {
  background-color: #0056b3; 
}

.fc-event.event:hover {
  background-color: #014894; 
}

.fc-event.task-overdue {
  background-color: #dc3545; 
}

.fc-event.task-overdue:hover {
  background-color: #cf1427; 
}

.fc-event.task-completed {
  background-color: #28a745; 
}

.fc-event.task-completed:hover {
  background-color: #23c148; 
}

.fc-event.task-late {
  background-color: #ff9800; 
}

.fc-event.task-late:hover {
  background-color: #e98d02; 
}

.fc-event.task-pending {
  background-color: #007bff; 
}

.fc-event.task-pending:hover {
  background-color: #348eed; 
}

.calendar .fc-event.fc-list-event:hover {
  color: #001789;
}

.calendar.fc-list-event-title,
.calendar.fc-list-event-time {
  border: none;
}

.calendar .fc-list-event-graphic {
  display: none;
}

/* GRID */
.calendar .fc-scrollgrid,
.calendar .fc-col-header-cell,
.calendar .fc-timegrid-divider,
.calendar .fc-scroller,
.calendar .fc-list-day-cushion {
  border: 1px solid #001789;
}

.calendar .fc-day,
.calendar .fc-timegrid-slot {
  border: 1px solid #cbcff8;
}

.calendar .fc-day:hover,
.calendar .fc-timegrid-slot:hover {
  cursor: pointer;
  background-color: #e0e2fb;
}

.fc-daygrid-day-number,
.fc-timegrid-slot-label-cushion,
.fc-timegrid-axis-cushion {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #001789;
}

.fc-col-header-cell-cushion {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #001789;
  font-weight: bold;
}


/* TIME MACHINE */
.time-machine-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #284bff;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.time-machine-button i {
  color: white;
  font-size: 22px;
  cursor: pointer;
}

