.time-machine, .modal-header{
    font-family: 'Poppins';
}

.modal-header{
    margin-bottom: 0;
}

.current-time{
    color: rgb(151, 151, 151);
    margin: 0;
    font-family: 'Figtree';
    margin-left: 2px;
    margin-bottom: 30px;
}

.time-machine-controls {
    display: flex;
    align-items: stretch;  
    justify-content: baseline;
    width: 100%;
    height: auto;  
}

input[type="datetime-local"] {
    padding: 10px;
    font-size: 15px;
    font-family: 'Poppins';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #ffffff;
    transition: border-color 0.3s ease;
}

input[type="datetime-local"]:focus {
    outline: none;
    border: 1px solid #526eff;
}

.time-machine button {
    font-family: 'Poppins';
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

.update-button {
    background-color: #284bff;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    padding: 10px 20px; 
    border-radius: 0 8px 8px 0;
    margin-left: -8px;
    border: 1px solid #284bff;
    height: 100%; 
}

.update-button:hover {
    background-color: #001789;
}

  
  .reset-button {
    background-color: #f2f5ff;
    color: #284bff;
    border: 2px solid #284bff;
    padding: 1%;
    border-radius: 8px;
    margin-left: 8px;
  }
  
  .reset-button:hover {
    background-color: #ffffff;
    transform: scale(0.98);
  }

  .time-machine h3{
    font-weight: 300;
    margin-top: 30px;
    color: #000;
    font-size: 20px;
    margin-bottom: 0;
  }

  .tm-active{
    color: #284bff;
    font-weight: 700;
  }

  .tm-not-active{
    color: red;
    font-weight: 700;
  }

  .modal-content{
    margin: 0 15px ;
  }

  @media (max-width:492px){
    .reset-button{
        margin-top: 5px;
        margin-left: 0;
        background-color: #ffffff;
    }

    .reset-button:hover{
        border-color: #001789;
        color: #001789;
        transform: none;
    }

    .time-machine-controls{
        flex-wrap: wrap;
    }
  }